<a href="https://colab.research.google.com/github/angelo-chu/python/blob/main/MAX_kline_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import requests
import pandas as pd

In [21]:
API_URL = "https://max-api.maicoin.com/api/v2/k"  # Replace with actual API URL
market = "maxtwd"  # Specify the market (e.g., "ethusdt")
period = 10080  # Set period to 4320 for 1 month
timestamp = 1661798400  # Converted Unix epoch for September 1st, 2022

# Build the query string with parameters
params = {
    "market": market,
    "period": period,
    "timestamp": timestamp,
}

In [22]:
response = requests.get(API_URL, params=params)

In [23]:
if response.status_code == 200:
  # Request successful
  data = pd.DataFrame(response.json())
  print(data)
  # Process the data (array of timestamps, open, high, low, close, volume)
else:
  print(f"Error: API request failed with status code {response.status_code}")

             0       1       2       3       4           5
0   1662336000  8.9900  9.2999  8.9005  9.2034   391700.80
1   1662940800  9.2034  9.3995  9.1000  9.3199   250364.94
2   1663545600  9.3199  9.3500  8.7000  8.8773   508559.18
3   1664150400  8.8773  9.0200  8.6002  8.9949   351261.21
4   1664755200  8.9949  8.9953  8.6000  8.9091   324712.21
5   1665360000  8.9091  9.0130  8.7800  8.9893   329388.05
6   1665964800  8.9893  9.3450  8.9438  9.1390   357360.64
7   1666569600  9.1390  9.3000  9.0001  9.1325   390548.55
8   1667174400  9.1325  9.3005  9.0500  9.1355   254965.46
9   1667779200  9.1355  9.1700  6.7000  6.7200  1260079.89
10  1668384000  6.7200  7.2000  5.6001  7.0530   622899.25
11  1668988800  7.0530  7.2580  6.6001  7.0065   318720.53
12  1669593600  7.0065  7.1010  6.9000  7.0390   258768.20
13  1670198400  7.0390  7.2000  6.9003  7.0530   214128.37
14  1670803200  7.0530  7.0970  6.8890  6.9960   266212.68
15  1671408000  6.9960  7.0030  6.5023  6.8879   309230.84
16  1672012800  6.8879  6.8879  6.0000  6.1800   298622.09
17  1672617600  6.1800  6.4000  5.9001  6.3899   261740.41
18  1673222400  6.3899  6.8400  6.2601  6.7850   439879.60
19  1673827200  6.7850  6.8885  6.5000  6.7799   315337.75
20  1674432000  6.7799  6.7839  6.4000  6.6290   335687.47
21  1675036800  6.6290  6.8050  6.4000  6.8000   508697.85
22  1675641600  6.8000  6.8500  6.4500  6.7130   411413.58
23  1676246400  6.7170  6.8885  6.5000  6.7539   530679.28
24  1676851200  6.7538  6.8870  6.6000  6.7340   425597.59
25  1677456000  6.7340  6.8000  6.6500  6.6910   277619.52
26  1678060800  6.6940  6.7510  6.4520  6.7160   373841.21
27  1678665600  6.7170  6.8464  6.5000  6.8160   443592.19
28  1679270400  6.8160  7.0000  6.7400  7.0000   421677.71
29  1679875200  7.0000  8.7000  6.9500  8.3247   844898.33

In [24]:
#convert unix epoch to date and time of UTC + 8

from datetime import datetime, timezone, timedelta

In [25]:
def unix_to_utc8(timestamp):
  """Converts a Unix timestamp to a UTC+8 datetime object."""
  # Convert timestamp to datetime object in UTC
  dt = datetime.utcfromtimestamp(timestamp)
  # Convert to UTC+8 timezone
  return dt + timedelta(hours=8)

In [26]:
# Assuming your DataFrame is called 'data' with a column named 'timestamp'
data['datetime_utc8'] = data[0].apply(unix_to_utc8)

In [28]:
data

             0       1       2       3       4           5       datetime_utc8
0   1662336000  8.9900  9.2999  8.9005  9.2034   391700.80 2022-09-05 08:00:00
1   1662940800  9.2034  9.3995  9.1000  9.3199   250364.94 2022-09-12 08:00:00
2   1663545600  9.3199  9.3500  8.7000  8.8773   508559.18 2022-09-19 08:00:00
3   1664150400  8.8773  9.0200  8.6002  8.9949   351261.21 2022-09-26 08:00:00
4   1664755200  8.9949  8.9953  8.6000  8.9091   324712.21 2022-10-03 08:00:00
5   1665360000  8.9091  9.0130  8.7800  8.9893   329388.05 2022-10-10 08:00:00
6   1665964800  8.9893  9.3450  8.9438  9.1390   357360.64 2022-10-17 08:00:00
7   1666569600  9.1390  9.3000  9.0001  9.1325   390548.55 2022-10-24 08:00:00
8   1667174400  9.1325  9.3005  9.0500  9.1355   254965.46 2022-10-31 08:00:00
9   1667779200  9.1355  9.1700  6.7000  6.7200  1260079.89 2022-11-07 08:00:00
10  1668384000  6.7200  7.2000  5.6001  7.0530   622899.25 2022-11-14 08:00:00
11  1668988800  7.0530  7.2580  6.6001  7.0065   318720.53 2022-11-21 08:00:00
12  1669593600  7.0065  7.1010  6.9000  7.0390   258768.20 2022-11-28 08:00:00
13  1670198400  7.0390  7.2000  6.9003  7.0530   214128.37 2022-12-05 08:00:00
14  1670803200  7.0530  7.0970  6.8890  6.9960   266212.68 2022-12-12 08:00:00
15  1671408000  6.9960  7.0030  6.5023  6.8879   309230.84 2022-12-19 08:00:00
16  1672012800  6.8879  6.8879  6.0000  6.1800   298622.09 2022-12-26 08:00:00
17  1672617600  6.1800  6.4000  5.9001  6.3899   261740.41 2023-01-02 08:00:00
18  1673222400  6.3899  6.8400  6.2601  6.7850   439879.60 2023-01-09 08:00:00
19  1673827200  6.7850  6.8885  6.5000  6.7799   315337.75 2023-01-16 08:00:00
20  1674432000  6.7799  6.7839  6.4000  6.6290   335687.47 2023-01-23 08:00:00
21  1675036800  6.6290  6.8050  6.4000  6.8000   508697.85 2023-01-30 08:00:00
22  1675641600  6.8000  6.8500  6.4500  6.7130   411413.58 2023-02-06 08:00:00
23  1676246400  6.7170  6.8885  6.5000  6.7539   530679.28 2023-02-13 08:00:00
24  1676851200  6.7538  6.8870  6.6000  6.7340   425597.59 2023-02-20 08:00:00
25  1677456000  6.7340  6.8000  6.6500  6.6910   277619.52 2023-02-27 08:00:00
26  1678060800  6.6940  6.7510  6.4520  6.7160   373841.21 2023-03-06 08:00:00
27  1678665600  6.7170  6.8464  6.5000  6.8160   443592.19 2023-03-13 08:00:00
28  1679270400  6.8160  7.0000  6.7400  7.0000   421677.71 2023-03-20 08:00:00
29  1679875200  7.0000  8.7000  6.9500  8.3247   844898.33 2023-03-27 08:00:00